{% load staticfiles comments_tags %}

<!-- <link rel="stylesheet" href="{% static 'css/bootstrap-4.0.0.css' %}">
<link rel="stylesheet" href="{% static 'comments/css/comments.css' %}"> -->

<!-- owner object's total comments number at the moment of page loading.
  used in .js files for managing visible comments and updateing comments-counter element-->
<span id="comments-count">{{ comments.count }}</span>

<div id="error-log"></div>

<div class="comments-body">
  <h4 id="title" class="mb-3">Comments</h4>
  {% if comments %}
    {% if comments.count == 1 %}
    <p id="comments-counter"><strong>{{ comments.count }} comment</strong></p>
    {% else %}
    <p id="comments-counter"><strong>{{ comments.count }} comments</strong></p>
    {% endif %}
  {% endif %}

  {% if request.user.is_authenticated %}
    {% include "comments/comment_form.html" %}
  {% else %}
    <h5><a href="{{ login_url }}?next={{request.path}}">Login</a> to comment.</h5>
  {% endif %}
  
  <div class="margin-bottom-30"></div>

  <div id="comments">
    {% if comments %}
      {% include "comments/comments.html" %}
      <div id="load-more-button-container">
        {% if comments.count > 5 %}
          <button class="load-more-comments btn-md btn-primary mr-4">
            {% if comments.count == 6 %}
              Load 1 more Comment
            {% elif comments.count > 6 and comments.count < 15 %}
              Load {{ comments|substract:5 }} more Comments
            {% elif comments.count >= 15 %}
              Load 10 more Comments
            {% endif %}
          </button>
        {% endif %}
        <button class="show-less-comments btn-md btn-secondary" style="display: none;">Show less</button>
      </div>
    {% else %}
      <p id="no-comments-yet-message">No comments yet.</p>
    {% endif %}
  </div>
</div>

<!-- <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/bootstrap-4.0.0.js' %}"></script> -->

<!-- veoma bitno: type="module"  -> inače import u main.js-u ne radi ! -->
<!-- <script type="module" src="{% static 'comments/js/main.js' %}"></script> -->