{% load staticfiles %}

<!-- <link rel="stylesheet" href="{% static 'css/bootstrap-4.0.0.css' %}">
<link rel="stylesheet" href="{% static 'comments/css/comments.css' %}"> -->

<div id="error-log"></div>

<div class="comments-body">
  <h5 class="title">Comments</h5>

  {% if request.user.is_authenticated %}
    {% include "comments/comment_form.html" %}
  {% else %}
    <h5><a href="">Login</a> to comment.</h5>
  {% endif %}
  
  <div class="margin-bottom-30"></div>

  <div id="comments">
    {% if comments %}
      {% include "comments/comments.html" %}
    {% else %}
      <p id="no-comments-yet-message">No comments yet.</p>
    {% endif %}
  </div>
  
</div>

<!-- <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/bootstrap-4.0.0.js' %}"></script> -->

<!-- veoma bitno: type="module"  -> inače import u main.js-u ne radi ! -->
<!-- <script type="module" src="{% static 'comments/js/main.js' %}"></script> -->