{% for comment in comments %}
  <div class="comment" id="{{ comment.id }}">
    <p class="margin-bottom-0"><strong>{{ comment.author }}</strong></p>
    <p class="pub-date margin-bottom-5">{{ comment.pub_date }}</p>
    <p class="margin-bottom-0">{{ comment.text }}</p>
    {% if comment.replies.all %}
      <button class="show-replies" id="show-replies-{{ comment.id }}" style="white-space:pre">Show replies</button>
    {% else %}
      <span class="no-replies-message" id="no-replies-message-{{ comment.id }}">No replies yet</span>
    {% endif %}
    
    {% if request.user.is_authenticated %}
      <span> </span>
      <button class="reply-button" id="reply-button-{{ comment.id }}">Reply</button>
      {% if request.user == comment.author %}
        <span> </span>
        <!-- Button trigger modal -->
        <button class="delete-button" id="delete-button-{{ comment.id }}" data-toggle="modal" data-target="#DeleteModalCenter-{{ comment.id }}">
          Delete
        </button>
        <!-- Modal -->
        {% include "comments/delete_comment_modal.html" %}
      {% endif %}
      {% include "comments/reply_form.html" %}
    {% endif %}

    <div class="margin-bottom-30"></div>

    <div id="replies-{{ comment.id }}" style="display:none">
      {% include "comments/replies.html" %}
    </div>
    
  </div>  
{% endfor %}  
