<div class="reply margin-bottom-20" id="{{ reply.id }}">
  <p class="margin-bottom-0"><strong>{{ reply.author }}</strong></p>
  <p class="pub-date margin-bottom-5">{{ reply.pub_date }}</p>
  <p class="text margin-bottom-0">{{ reply.text }}</p>
  {% if request.user == reply.author %}
    <!-- Button trigger modal -->
    <button class="delete-button" id="delete-button-{{ reply.id }}" data-toggle="modal" data-target="#DeleteModalCenter-{{ reply.id }}">
      Delete
    </button>
    <!-- Modal -->
    {% include "comments/delete_comment_modal.html" %}
  {% endif %}
</div>