.vscode/

__pycache__/

/media/*
!/media/.gitkeep
!/media/files/
/media/files/*
!/media/files/.gitkeep

node_modules/
package-lock.json
package.json
jest-config.js

htmlcov/ 
.coverage
.coveragerc

functional_tests/
