.comments-body {
	margin-bottom: 40px;
}

ul {
	list-style: none;
}

li {
	float: left;
}

.title {
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px dimgrey solid;
	color: rgb(97, 59, 59);
}

.pub-date {
	color: grey;
	font-size: 11px !important;
}



.comments-body p {
	font-size: 14px;
}

.no-replies-message {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: rgb(75, 75, 75);
}

.reply-button, .show-replies {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: mediumblue;
	background:none;
	border:none;
	margin:0;
	padding:0;
	cursor: pointer;
}

.reply-button:focus, .show-replies:focus {
	outline:none !important;
}

.reply {
	padding-left: 50px;
}

.reply-form {
	padding-left: 50px;
}

/* --- utils --- */
.margin-bottom-0 {
	margin-bottom: 0px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

/* --- Bootstrap override --- */

.form-control {
	font-size: 14px;
}

.form-group {
	margin-bottom: 0.5rem;
}



