/* koristiti sass da mogu neste-ati sve selektore unutar .comments-body selektora, a ne ovako*/

#comments-count {
	display: none;
}

.comments-body {
	margin-bottom: 100px;
}

.comments-body ul {
	list-style: none;
}

.comments-body li {
	float: left;
}

.comments-body .title {
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px dimgrey solid;
	color: rgb(51, 51, 51);
}

.comments-body .pub-date {
	color: grey;
	font-size: 11px !important;
}

.comments-body p {
	font-size: 14px;
}

.comments-body span {
	white-space: pre;
}

.comments-body .no-replies-message {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 600;
	font-size: 12px;
	display: inline-block;
	width: 105px;
	color: rgb(75, 75, 75);
}

.comments-body .reply-button, .show-replies, .edit-button, .delete-button {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: mediumblue;
	background:none;
	border:none;
	margin:0;
	padding: 0px 10px 0px 0px;
	cursor: pointer;
}

.comments-body .show-replies{
	width: 105px;
	text-align: left;
}

.comments-body .reply-button:focus, .show-replies:focus, .edit-button:focus, .delete-button:focus,
.load-more-comments:focus, .show-less-comments:focus {
	outline:none !important;
	box-shadow:none !important;

}

.comments-body .replies {
	border-left: 0.5px rgba(203, 200, 200, 0.631) solid; 
	padding-left: 20px;
	margin-left: 30px;
}

.comments-body .reply-form {
	padding-left: 50px;
}

/* --- utils --- */
.comments-body .margin-bottom-0 {
	margin-bottom: 0px;
}

.comments-body .margin-bottom-5 {
	margin-bottom: 5px;
}

.comments-body .margin-bottom-20 {
	margin-bottom: 20px;
}

.comments-body .margin-bottom-30 {
	margin-bottom: 30px;
}

/* --- Bootstrap override --- */

.comments-body .form-control {
	font-size: 14px;
}

.comments-body .form-group {
	margin-bottom: 0.5rem;
}


