{% extends "base.html" %}

{% load staticfiles thumbnail %}

{% comment %} 
  Pošto svi artikli imaju istu kategoriju, njoj pristupam preko articles.first što vraća prvi article iz QuerySet-a.
  Tako nema potrebe za override-anjem get_context_data metode i dodavanja kategorije kao poseban value u context.
{% endcomment %}
{% block title %}{{ articles.first.category.title }}{% endblock title %}

{% block style %}
  {{ block.super }}
{% endblock style %}

{% block jumbo %}
  {% comment %} Dodaje pozadinsku sliku iz image field-a Category {% endcomment %}
  <div class="jumbotron jumbotron-fluid category-view"
       style="background-image: url('{{ articles.first.category.image.url }}');
              background-size: cover">
  </div>
{% endblock jumbo %}

{% block content %}

  <div class="container mt-60px">
      <h2 class="padding-bottom-20 text-cornflowerblue">{{ articles.first.category.title }}</h2>
    </div>
    {% if is_paginated %}
      {% include 'my_newsapp/snippets/pagination.html' %}
    {% endif %}
    <div class="container">
      <hr>
    </div>

  {% for article in articles  %}
  <div class="container">
    <div class="row padding-top-20 padding-bottom-20">
      <div class="col-md-2">
        <img src="{% thumbnail article.thumbnail_image 150x150 crop %}">
      </div>
      <div class="col-md-6">
        <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
        <p>{{ article.short_description }}</p>
      </div>
      <div class="col-md-4 text-lightbrown padding-top-20 text-right">
        <p style="margin-top: 40px">Written by {{ article.author }}</p>
        <p>{{ article.pub_date.date }}</p> {% comment %} date() metoda vraća samo datum; bez nje ispisuje se i datum i vrijeme {% endcomment %}
      </div>
    </div>
    <hr>
  </div>
{% endfor %}

{% if is_paginated %}
  <div class="mt-5 mb-5">
    {% include 'my_newsapp/snippets/pagination.html' %}
  </div>
{% endif %}
  
{% endblock content %}

{% block script %}
  {{ block.super }}
  <script>
     //Checks if last page was home page, or one of latest-articles pages
     if (document.referrer.endsWith('home/') || document.referrer.includes('latest-articles/')) {
         //Checks if scrollToTop exists in localStorage, meaning that category page was accessed through links which have 'scroll-to-top' class attribute
         if (localStorage.getItem('scrollToTop')) {
             window.scrollTo(0, 0);
             localStorage.removeItem('scrollToTop');
             console.log('scrollToTop removed from local storage');
         }
     }
</script>
{% endblock script %}