{% extends "base.html" %}

{% load staticfiles thumbnail %}

{% block title %}{{ category.title }}{% endblock title %}

{% block style %}
  {{ block.super }}
{% endblock style %}

{% block jumbo %}
  {% comment %} Dodaje pozadinsku sliku iz image field-a Category {% endcomment %}
  <div class="jumbotron jumbotron-fluid category-view"
       style="background-image: url('{{ category.image.url }}');
              background-size: cover">
  </div>
{% endblock jumbo %}

{% block navbar_categories_dropdown %}
  {% comment %} categories list {% endcomment %}
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    {% for category in categories %}
      {% if category.articles.all %}
      <li>
        <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
      </li>
      {% endif %}       
    {% endfor %}
  </ul>
{% endblock navbar_categories_dropdown %}

{% block content %}
  <div class="container mt-60px">
    <h2 class="padding-bottom-30 text-cornflowerblue">{{ category.title }}</h2>
    <hr>
  </div>
  {% for article in category.articles.all  %}
  <div class="container">
    <div class="row padding-top-20 padding-bottom-20">
      <div class="col-md-2">
        <img src="{% thumbnail article.thumbnail_image 150x150 crop %}">
      </div>
      <div class="col-md-6">
        <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
        <p>{{ article.short_description }}</p>
      </div>
      <div class="col-md-4 text-lightbrown padding-top-20 text-right">
        <p style="margin-top: 40px">Written by {{ article.author }}</p>
        <p>{{ article.pub_date.date }}</p> {% comment %} date() metoda vraća samo datum; bez nje ispisuje se i datum i vrijeme {% endcomment %}
      </div>
    </div>
    <hr>
  </div>
{% endfor %}
  
{% endblock content %}

{% block script %}
  {{ block.super }}
  <script>
     //Checks if last page was home page, or one of latest-articles pages
     if (document.referrer.endsWith('home/') || document.referrer.includes('latest-articles/')) {
         //Checks if scrollToTop exists in localStorage, meaning that category page was accessed through links which have 'scroll-to-top' class attribute
         if (localStorage.getItem('scrollToTop')) {
             window.scrollTo(0, 0);
             localStorage.removeItem('scrollToTop');
             console.log('scrollToTop removed from local storage');
         }
     }
</script>
{% endblock script %}