{% extends "base.html" %}

{% load staticfiles thumbnail %}

{% block title %}{{ article.title }}{% endblock title %}

{% block style %}
  {{ block.super }}
{% endblock style %}

{% block jumbo %}
  {% comment %} Dodaje pozadinsku sliku iz image field-a Category {% endcomment %}
  <div class="jumbotron jumbotron-fluid category-view"
       style="background-image: url('{{ article.category.image.url }}');
              background-size: cover">
  </div>
{% endblock jumbo %}



{% block content %}
  
  {% comment %}
    django documentation -> Built-in filter reference -> linebreaks:
    Replaces line breaks in plain text with appropriate HTML; a single 
    newline becomes an HTML line break (<br>) and a new line followed 
    by a blank line becomes a paragraph break (</p>).
  {% endcomment %}
  <div class="article">
    <h2>{{ article.title }}</h2>
    <pre class="padding-bottom-20">In <a href="{{ article.category.get_absolute_url }}">{{article.category.title}}</a>, by {{ article.author }}</pre>
    {% if article.image1 %}
      <img class="image-fit padding-bottom-20" src="{{ article.image1.url }}">  
    {% endif %}
      <p>{{ article.first_part | linebreaks }}</p> 
    {% if article.image2 %}
      <img class="image-fit padding-bottom-20" src="{{ article.image2.url }}">  
    {% endif %}
    {% if article.second_part %}
      <p>{{ article.second_part | linebreaks }}</p>
    {% endif %}
  </div>
  
{% endblock content %}

{% block script %}
  {{ block.super }}
  <script>
    //On detail page, always scroll to the top of article
    window.scrollTo(0, 250);
</script>
{% endblock script %}