{% extends "base.html" %}

{% load staticfiles thumbnail %}

{% block title %}{{ article.title }}{% endblock title %}

{% block style %}
  {{ block.super }}
{% endblock style %}

{% comment %} {% block jumbo %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{ article.category.title }}</h1>
      <p class="lead">Everything you need to share your knowledge...</p>
    </div>
  </div>
{% endblock jumbo %} {% endcomment %}

{% block navigation %}
  {% include 'my_newsapp/home_navbar.html' %}
{% endblock navigation %}

{% block content %}
  
  <h3>{{ article.title }}</h3>
  <p>{{ article.author }}</p>
  <p>{{ article.text }}</p>  

{% endblock content %}

{% block script %}
  {{ block.super }}
{% endblock script %}