{% extends "my_newsapp/create_article.html" %}

{% load staticfiles thumbnail crispy_forms_tags %}

{% block title %}Edit Article{% endblock title %}

{% block current_files  %}

  <canvas id="canvas" style="font-size: 20px; display: none;"></canvas>

  <div class="container mt-5"> <!-- main container start -->
    <div class="row"> <!-- main row start -->
      
      <!-- Images div -->
      <div class="col-md-6 current-images"> <!-- images main col start -->
        <div class=row> <!-- images sub-row start -->
          {% if article.images.all %}
          <div class="col-sm-8 images-list"> <!-- images list col start -->
            <p class="font-weight-bold">Current Images</p>
              <ul>
                {% for image in article.images.all  %}
                  <li id="image-{{ image.id }}" class="image-name mb-2">
                    {{ image }}
                  </li>
                {% endfor %}
              </ul>
          </div> <!-- images list col end -->
          <div class="col-sm-4 images-checkboxes"> <!-- images checkbox col start -->
            <p class="font-weight-bold">Delete ?</p>
            <ul>
            {% for image in article.images.all %}
              <li class="mb-2">
                {% comment %}
                  name of input must have [] brackets at the end, then we call request.POST.getlist('image-checkbox[]') in
                  django view, which returns array of checkbox values (here we get ids of selected images)
                {% endcomment %}
                <input type="checkbox" class="image-checkbox" name="image-checkbox[]" value="{{ image.id}}">
              </li>
            {% endfor %}
            <ul/>            
          </div> <!-- images checkbox col end -->
          {% else %}
          <div class="col-sm-8 images-list"> <!-- images list col start -->
            <p class="font-weight-bold">Current Images</p>
            <p class="no-images">No images</p>
          </div> <!-- images list col end -->
          {% endif %}
        </div> <!-- images sub-row end -->
      </div> <!-- images main col end -->


      <!-- Files div -->
      <div class="col-md-6 current-files"> <!-- files main col start -->
        <div class=row> <!-- files sub-row start -->
          {% if article.files.all %}
          <div class="col-sm-8 files-list"> <!-- Files list col start -->
            <p class="font-weight-bold">Current Files</p>
              <ul>
                {% for file in article.files.all  %}
                  <li id="file-{{ file.id }}" class="file-name mb-2">
                    {{ file }}
                  </li>
                {% endfor %}
              </ul>
          </div> <!-- Files list col end -->
          <div class="col-sm-4 files-checkboxes"> <!-- Files checkbox col start -->
            <p class="font-weight-bold">Delete ?</p>
            <ul>
            {% for file in article.files.all %}
              <li class="mb-2">
                {% comment %}
                  name of input must have [] brackets at the end, then we call request.POST.getlist('file-checkbox[]') in
                  django view, which returns array of checkbox values (here we get ids of selected files)
                {% endcomment %}
                <input type="checkbox" class="file-checkbox" name="file-checkbox[]" value="{{ file.id}}">
              </li>
            {% endfor %}
            <ul/>            
          </div> <!-- Files checkbox col end -->
          {% else %}
          <div class="col-sm-8 images-list"> <!-- files list col start -->
            <p class="font-weight-bold">Current Files</p>
            <p class="no-images">No Files</p>
          </div> <!-- files list col end -->
          {% endif %}
        </div> <!-- files sub-row end -->
      </div> <!-- files main col end -->
    </div> <!-- main row end -->
  </div> <!-- main container end -->
{% endblock current_files %}



{% block submit_button %}
  <hr style="margin-top: 2rem; border-top: 1px solid rgba(0, 0, 0, 0.2)">
  <input type="submit" name="submit" value="Update" class="btn btn-primary btn-lg mt-2" id="submit-id-submit">
{% endblock submit_button %}





{% block script %}
  {{ block.super }}
  <script src="{% static 'my_newsapp/edit_article.js' %}"></script>
{% endblock script %}


  


