{% extends "base.html" %}

{% load staticfiles thumbnail %}

{% block title %}Latest Articles{% endblock title %}

{% block style %}
  {{ block.super }}
{% endblock style %}

{% block jumbo %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to Newsapp </h1>
      <p class="lead">Everything you need to share your knowledge...</p>
    </div>
  </div>
{% endblock jumbo %}


{% block content %}
  
{% endblock content %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'my_newsapp/script.js' %}"></script>
{% endblock script %}