{% extends "base.html" %}

{% load staticfiles thumbnail %}

{% block title %}Latest Articles{% endblock title %}

{% block style %}
  {{ block.super }}
{% endblock style %}

{% block jumbo %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">New Articles Everyday </h1>
      <p class="lead">Anything you are intrested in...</p>
    </div>
  </div>
{% endblock jumbo %}



{% block content %}

  <div class="container mt-60px">
    <h2 class="padding-bottom-20 text-cornflowerblue">Latest Articles</h2>
  </div>
  {% if is_paginated %}
    {% include 'my_newsapp/snippets/pagination.html' %}
  {% endif %}
  <div class="container">
    <hr>
  </div>

  {% for article in articles  %}
    <div class="container">
      <div class="row padding-top-20 padding-bottom-20">
        <div class="col-md-2">
          <img src="{% thumbnail article.images.first.image 150x150 crop %}">
        </div>
        <div class="col-md-6">
          <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
          <p>{{ article.short_description }}</p>
        </div>
        <div class="col-md-4 text-lightbrown padding-top-20 text-right">
          <p>Category: <a class="scroll-to-top" href="{{ article.category.get_absolute_url }}">{{ article.category }}</a></p>
          <p>Written by {{ article.author }}</p>
          <p>{{ article.pub_date.date }}</p> {% comment %} date() metoda vraća samo datum; bez nje ispisuje se i datum i vrijeme {% endcomment %}
        </div>
      </div>
      <hr>
    </div>
  {% endfor %}

  {% if is_paginated %}
    <div class="mt-5 mb-5">
      {% include 'my_newsapp/snippets/pagination.html' %}
    </div>
  {% endif %}

{% endblock content %}

{% block script %}
  {{ block.super }}
{% endblock script %}