{% extends 'my_newsapp/snippets/base_delete_modal.html' %}

{% block modal_id %} 
  id="FileDeleteModal-{{ file.id }}"
{% endblock modal_id %}

{% block delete_form__id_class_and_action %}
  id="file-delete-form-{{ file.id }}"
  class="file-delete-form"
  action="{% url 'my_newsapp:delete-file-or-image' id=file.id %}"
{% endblock delete_form__id_class_and_action %}

{% block modal_title %}
  Confirm file deletion
{% endblock modal_title %}     
            
{% block modal_body %}
  <p>Are you sure you want to delete {{ file }}</p>
{% endblock modal_body %} 